body, .center,.border, #version, #mac, #calender, #network, #door, #user {
    margin-left: auto;
    margin-right: auto;
}

label {
    display: inline-block;
    min-width: 150px;
    /*text-align: right;*/
}

label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
}

#loginContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.center {
    align-content: center;
}

.text-center {
    text-align: center;
}

body {
    max-width: 960px;
    min-width: 720px;
}

.right, #logout {
    margin-right: 70px;
    text-align: right;
}

.border, #version, #mac, #calender, #network, #door, #user {
    position: relative;
    border: 1px solid #0f0f0f;
    /*padding-left: 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    min-width: 760px;
    max-width: 800px;
}

.version {

}

.editButton {
    float: right;
    margin-right: 2px;
}

.c1, .cn {
    display: inline-block;
}

.cn {
    position: absolute;
    left: 250px;
}

/*.inline,.line-top,.line-n {
    display: inline-block;
}*/

.line-n {
    /*position: relative;*/
    margin-top: 8px;
    margin-left: 8px;
}

.marginGap {
    margin-top: 10px;
}

.marginLeft {
    margin-left: 6px;
}

#userContainer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.userSetDiv {
    position: relative;
}

.userSetBtn {
    /*position: relative;*/
    /*right: 200px;*/
    float: right;
    margin-right: 15px;
}




